<!doctype html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <title>URL Shortener</title>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a class="p-2 text-dark" href="{{url_for('home')}}">URL Shortener</a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{{url_for('search')}}">SEARCH</a>
    </nav>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="{{url_for('api_session')}}">API</a>
    </nav>
  </div>

  {% for msg in get_flashed_messages() %}
  <div class="container text-center">
    <div class="p-3 mb-2 bg-danger text-white">{{msg}}</div>
  </div>
  {% endfor %}
  <br>

  {% block main %}{% endblock %}

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{url_for('static', filename='jquery-3.3.1.slim.min.js')}}"></script>
  <script src="{{url_for('static', filename='popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
</body>

</html>